body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background: #181818;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    background: #272727;
    color: white;
    border: 1px solid #444;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 13px;
    background: linear-gradient(45deg, #ff0050, #00f2ea);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}

p {
    background: #222;
    padding: 12px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid #333;
}
