<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Posts</h1>

    <form method="POST" enctype="multipart/form-data">
    <textarea name="content" placeholder="Write something..."></textarea>

    <input type="file" name="image" accept="image/*">

    <button type="submit">Post</button>
</form>

    <hr>
<hr>

{% for post in posts %}

<h3>{{ post.user.username }}</h3>
<p>{{ post.content }}</p>
{% if post.image %}
    <img src="{{ url_for('static', filename='uploads/' + post.image) }}" width="300">
{% endif %}
{% if post.user.id == session["user_id"] %}

<a href="{{ url_for('edit_post', post_id=post.id) }}">
    <button type="button">Edit</button>
</a>
<form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
    <button type="submit">Delete</button>
</form>

{% endif %}
    

        <form method="POST" action="{{ url_for('like_post', post_id=post.id) }}">
            <button type="submit">❤️ Like</button>
        </form>

        <p><strong>Likes:</strong> {{ post.likes|length }}</p>

        <form method="POST" action="{{ url_for('comment', post_id=post.id) }}">
            <input type="text" name="comment" placeholder="Write a comment..." required>
            <button type="submit">Comment</button>
        </form>

        {% for comment in post.comments %}
            <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
        {% endfor %}

        <hr>

    {% endfor %}

    <a href="{{ url_for('dashboard') }}">
        <button>Back to Dashboard</button>
    </a>

</div>

</body>
</html>
